@import '~@/styles/mixin.scss';
@import '~@/styles/var.scss';

.toplist {
    background-color: var(--THEME-BGC);

    & &-title {
        position: relative;
        width: 100%;
        height: 152px;
        line-height: 152px;
        font-size: 46px;
        font-weight: bold;
        text-indent: 20px;
    }

    & .row-list {
        overflow: hidden;
        padding-left: 18px;
    }

    & .row-list .row-item {
        display: flex;
        margin-bottom:$card-gap-s;
        width: 100%;

        .item-hd {
            border-radius: $card-radio-small;
            overflow: hidden;
            width: 280px;
            height: 280px;
        }
        /*&:first-child .row-item-bd{
            border-top: none;
        }*/
        .row-item-bd {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex: 1;
            min-width: 0;
            box-sizing: border-box;
            padding: 0 32px;
            border-bottom: 1px solid var(--THEME-FIX-BORDER);
            p {
                height: 40px;
                line-height: 40px;
                font-size: 38px;
                color: #666;
                word-break: keep-all;
                @include no-wrap;
            }
        }
    }

    & .item-hd {
        position: relative;

        img {
            border-radius: 5px;
        }

        p {
            position: absolute;
            left: 15px;
            bottom: 15px;
            font-size: $font-size-small-s;
            color: #fff;
        }
    }
    .column-img {
        p {
            position: absolute;
            left: 15px;
            bottom: 15px;
            font-size: $font-size-small-s;
            color: #fff;
        }
    }
    .column-wrapper {
        @extend %columnWrapper;
    }
}
